@using Models
@using Newtonsoft.Json
@{
    List<EDU_STUDENT> allEnableStudents = ViewBag.AllEnableStudents as List<EDU_STUDENT>;
    List<EDU_STUDENT> currentSubjectStudents = ViewBag.CurrentSubjectStudents as List<EDU_STUDENT>;
    int classId = Convert.ToInt32(ViewBag.ClassId);
    var allData = JsonConvert.SerializeObject(allEnableStudents?.Select(c => new { value = c.ID, title = c.NAME }), new JsonSerializerSettings() { });
    var rightValue = JsonConvert.SerializeObject(currentSubjectStudents?.Select(c => c.ID));
}
<div id="divData" style="margin:20px 10px"></div>


<script>
    layui.use(['transfer', 'layer', 'util'], function() {
        var $ = layui.$
            , transfer = layui.transfer
            , layer = layui.layer
            , util = layui.util;




        transfer.render({
            elem: '#divData'
            , data: @Html.Raw(allData)
                    , title: ['待分配学生', '当前班级学生']
            , showSearch: true
            , value: @Html.Raw(rightValue)
                    , onchange: function(obj, index) {
                //var arr = ['左边', '右边'];
                //layer.alert('来自 <strong>' + arr[index] + '</strong> 的数据：' + JSON.stringify(obj)); //获得被穿梭时的数据
                var ids = [];
                for (i = 0; i < obj.length; i++) {
                    ids.push(obj[i].value);
                }
                $.post("/Class/SetStudents", { "type": index, "ids": ids ,"classId":@classId}, function(ret) {
                    if (ret.Code == 0) {
                        layer.msg('设置成功!', { icon: 6, time: 1000 });
                    } else {
                        layer.msg(ret.Message, { icon: 5, time: 1000 });
                    }
                })
            }
        })
    })
</script>