
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="ActionName" class="layui-form-label">
                    <span class="x-red">*</span>权限名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="ActionName" name="ActionName" required="" lay-verify="actionname" autocomplete="off" class="layui-input">
                </div>

            </div>
            <div class="layui-form-item">
                <label for="ActionDescription" class="layui-form-label">
                    权限描述
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="ActionDescription" name="ActionDescription" required="" lay-verify="actiondes" autocomplete="off" class="layui-input">
                </div>
            </div>
          

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"> 
                    <span class="x-red">*</span>权限配置
                    </label>
                <div class="layui-input-block">
                    <textarea tit placeholder='每一项都不是必选的，根据需要配置;格式：{"DicManageMenu":[{"Url":"/Home/Index","Title":"打开tab页的名称","Label":"菜单名称"}],"PersonManageMenu":[{"Url":"/Home/Index","Title":"打开tab页的名称","Label":"菜单名称"}],"ExamManageMenu":[{"Url":"/Home/Index","Title":"打开tab页的名称","Label":"菜单名称"}]}' 
                    class="layui-textarea"  id="ActionConfig" name="ActionConfig"  required="" lay-verify="config" autocomplete="off">{"DicManageMenu":[{"Url":"/Home/Index","Title":"打开tab页的名称","Label":"菜单名称"}],"PersonManageMenu":[{"Url":"/Home/Index","Title":"打开tab页的名称","Label":"菜单名称"}],"ExamManageMenu":[{"Url":"/Home/Index","Title":"打开tab页的名称","Label":"菜单名称"}]}</textarea>
                </div>
                
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否启用</label>
                <div class="layui-input-inline">
                    <input type="checkbox" name="IsEnable" lay-skin="switch" checked value="1" lay-text="启用|禁用">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="add" onclick="    return false;" lay-submit="">增加</button>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'layer', 'jquery'],
        function() {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;

            //自定义验证规则
            form.verify({
                actionname: function(value) {
                    if (value.length < 2) {
                        return '权限名称至少得2个字符啊';
                    }
                },
                config: function(value) {
                    if (value.length < 20) {
                        return '此配置项很重要，请认真配置';
                    }
                }
            });

            //监听提交
            form.on('submit(add)',
                function(data) {
                    $.post("/Teacher/AddAction", data.field, function(ret) {
                        debugger;

                        if (ret.Code == 0) {
                            layer.alert("添加成功", {
                                icon: 6
                            },
                                function() {
                                    //关闭当前frame
                                    xadmin.close();

                                    // 可以对父窗口进行刷新
                                    xadmin.father_reload();
                                });
                            return false;
                        } else {
                            layer.alert(ret.Message, {
                                icon: 5
                            });
                        }
                    })
                });

        });
</script>


